



   body{
    background-color: #D3E4CD;
}

hr{

    height: 2px;
    width: 10%;
border: 5px dotted;
border-style: none none dotted;
color: grey
}

h1{
    color: #99A799;
}

h3{
    color: #99A799;
}